.action-wrapper {
  width: 25.25rem;
  height: 100vh;
  padding: 5rem 2.5rem;
  position: fixed;
  top: 0;
  right: 0;
  background-color: $color-white;
  z-index: 99;
  transition: 0.5s;
  overflow-y: auto;

  .action--close {
    width: 0.65rem;
    height: 0.65rem;
    position: absolute;
    top: 3rem;
    right: 3rem;
    cursor: pointer;
  }

  .action {
    padding: 1rem;

    &__inner {
      @include flexbox();
      padding: 1rem;
      margin-bottom: 2rem;
      border: 1px solid $color-blue-light;
      border-radius: 1rem;
    }

    &__header {
      @include flexbox($justify-content: space-between);

      img {
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }

    &__icon {
      margin-right: 1rem;
    }

    &__content {
      margin: 0.5rem 0;
      line-height: 1.43rem;
    }

    &__time {
      font-size: $font-14;
      font-weight: 400;
      color: $color-grey-dark;
    }
  }
}

.action-translated {
  transform: translateX(100%);
}