.header__main {
  position: sticky;
  height: 7rem;
  top: 0;
  padding: 2rem 5rem;
  @include flexbox($justify-content: space-between, $align-items: center);
  box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.1),
    0px 0px 4px rgba(51, 51, 51, 0.05);
  background-color: $color-white;
  z-index: 1000;

  .header__logo {
    font-size: $font-32;
    font-weight: 400;
  }

  .header__link {
    color: $color-grey-dark;
    text-decoration: none;
  }

  .header__infos {
    @include flexbox($align-items: center);
    gap: 5rem;
  }

  .header__user {
    @include flexbox($align-items: center);
    gap: 1rem;
  }

  .header__avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  .header__email {
    font-size: $font-16;
    color: $color-grey;
  }

  .header__logout-btn {
    border-radius: 1rem;
    border: 1px solid $color-black;
    color: $color-black;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  .header__menu {
    cursor: pointer;
    z-index: 99;
    div {
      width: 1.56rem;
      height: 0.125rem;
      background: $color-black;
      margin: 0.3125rem 0;
    }
  }
}
