.bg-sky-blue {
    background-color: $color-blue-light;
}

.bg-dark-blue {
    background-color: $color-blue-dark;
}

.todo-border {
    border: 1px solid $color-blue;
}

.todo-delete-border {
    border: 1px solid $color-red;
    background-color: $color-red-light;
}

.modal-sub-title {
    color: $color-grey-dark;
    font-size: $font-14;
}

.display-none {
    display: none;
}

#drag {
    position: absolute;
}

.spectrum {
    opacity: 0.6;
    border: 1px solid $color-blue;
}