.bg-sky-blue {
    background-color: $color-blue-light;
}

.bg-dark-blue {
    background-color: $color-blue-dark;
}

.todo-border {
    border: 1px solid $color-blue;
}

.todo-delete-border {
    border: 1px solid $color-red;
}

.modal-sub-title {
    color: $color-grey-dark;
    font-size: $font-14;
}

.display-none {
    display: none;
}