.bg-sky-blue {
    background-color: #86C6FF;
}

.bg-dark-blue {
    background-color: #584CF4;
}

.todo-border {
    border: 1px solid $color-blue;
}

.todo-delete-border {
    border: 1px solid $color-red;
}