@import 'reset';
@import 'mixins';
@import 'variables';
@import 'header';
@import 'action';
@import 'column';
@import 'card';
@import 'input';
@import 'modal';
@import 'login';
@import 'fab';
@import 'utilities';

@font-face {
  font-family: 'Cafe24Oneprettynight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background: $color-grey-light;
  position:relative;
}

