.column-wrapper {
  @include flexbox();
  width: 100%;
  margin-top: 8.5rem;
}

.column-list {
  margin-right: 1.25rem;

  .column {
    width: 19.25rem;
    height: 2.625rem;
    @include flexbox($justify-content: space-between);

    &__left {
      gap: 0.3125rem;
      @include flexbox($align-items: center);
    }

    &__title {
      font-size: $font-18;
      font-weight: $font-700;
    }

    &__count {
      width: 1.625rem;
      height: 1.625rem;
      background: $color-grey;
      border-radius: 50%;
      text-align: center;
      line-height: 1.625rem;
    }

    &__right {
      gap: 0.3125rem;
      @include flexbox($align-items: center);
    }

    &__add {
      color: $color-grey;
      cursor: pointer;
      font-size: $font-18;
      &:hover {
        color: $color-blue;
      }
    }

    &__delete {
      color: $color-grey;
      cursor: pointer;
      font-size: $font-18;
      &:hover {
        color: $color-red;
      }
    }
  }
}
