@import 'reset';
@import 'variables';
@import 'header';
@import 'action';
@import 'column';
@import 'card';

body {
  background: $color-grey-light;
  height: 80vh;
  padding: 0 5rem;
  overflow-x: hidden;
  overflow-y: auto;
}
